* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f4f6fb;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background:  #000842;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.sidebar .logo {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 50px;
}

.sidebar a {
  text-decoration: none;
  color: #4b3b87;
  margin-bottom: 20px;
  font-weight: 500;
  transition: color 0.2s;
}

.sidebar a.active, .sidebar a:hover {
  color: #2a1a70;
}

.sidebar a.active {
  color: #fff;
  position: relative;
}

.sidebar a.active::before {
  content: "➤"; 
  position: absolute;
  left: -20px; 
  color: #fff;
  font-size: 16px;
}


/* Main Content */
.main {
  flex: 1;
  padding: 40px;
  background: #fff;
  overflow-y: auto;
}

.main h2 {
  font-size: 18px;
  font-weight: 600;
  color: #2a1a70;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.form-row input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

button.btn-save {
  padding: 10px 20px;
  background: #1a237e;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}

button.btn-save:hover {
  background: #121858;
}

/* Table */
.table-section {
  margin-top: 20px;
}

.table-section table {
  width: 100%;
  border-collapse: collapse;
}

.table-section th, .table-section td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}

.table-section th {
  color: #2a1a70;
  font-weight: 600;
}

.table-section td button {
  background: #fff;
  border: 1px solid #2a1a70;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  color: #2a1a70;
  font-weight: 700;
}

.table-section td button:hover {
  background: #2a1a70;
  color: #fff;
}

.search-bar {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}

.search-bar input {
  padding: 8px 40px 8px 15px; /* espaço para o ícone à direita */
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%; /* barra mais longa ocupando todo o espaço */
  max-width: 400px; /* limite máximo de largura */
  font-size: 14px;
}

.search-bar .search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  stroke: #666; /* cor da linha da lupa */
}


.divider {
  border: none;
  height: 1px;
  background-color: #ddd; /* cor da linha */
  margin: 20px 0;
}